@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Inter:wght@400;600;900&family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

/* TODO: animate each section when scrolling down */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    font-weight: 550;
    line-height: 1.5;
}

html{
    scroll-behavior: smooth;
}

.web__margins{
    margin: 32px 32px;
}

.row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style: none;
    padding: 0 8px;
}

a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    background-color: #6415FF;
    color:white;
    border-style: none;
    border-radius: 50px;
    padding: 12px 32px;
}

button:hover{
    background-color: #5011CC;
}

.purple{
    font-weight: bold;
    color: #6415FF;
}

h1{
    color: #243E63;
    font-size: 48px;
    font-weight: bold;
}

h2{
    display: block;
    font-size: 48px;
    font-weight: bold;
}

.section__name{
    font-size: 0.75rem;
    text-transform: capitalize;
    letter-spacing: 0.05rem;
    font-weight: 700;
    opacity: 1;
}

/* NAV */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.nav__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.nav__links{
    transition: all 300ms ease;
}

ul li:nth-last-child(2){
    margin: 0 24px 0 48px;
    padding: 0 0 4px;
}

.nav__link{
    margin: 0 24px;
    padding: 0 0 4px;
}

.nav__link:hover{
    color:#6415FF;
    border-bottom: 4px solid #6415FF;
    padding-bottom: 3px
}

.logo__container{
    transition: all 300ms ease;
}

.nav__logo{
    width: 40px;
    margin-right: 12px;
}

.nav__title{
    font-weight:bolder;
}

.nav__title:hover{
    color:#6415FF;
}

/* HERO */

#hero{
    padding: 96px 0;
}

.hero__container{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    justify-content:space-between;
    align-items: center;
    margin: 0 auto;
}

.hero__info{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.hero__description{
    padding: 16px 0;
    font-size: 18px;
    font-weight: lighter;
}


.hero__container_img{
    display: block;
    position: relative;
    align-items: flex-end;
    width: 60%;
}

.hero__img{
    width: 100%;
    min-width: 0px;
    max-width: 769px;
}

.hero__container__email{
    position: relative;
    margin:16px 0;

}

.hero__email{
    padding: 1rem 0 1rem 2rem;
    border: 2px solid rgb(226, 232, 240);
    border-radius: 25px;
    width: 100%;
}

.hero__email::placeholder{
    color:rgb(226, 232, 240);

}

.hero__button{
    position: absolute;
    right: 3px; 
    top: 3px;
    bottom: 3px;
    border-radius: 100px;
    z-index: 2;
    font-size: 16px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
}

.hero__customers{
    margin-top :5rem;
}

.hero__customer_title{
    color: rgb(160 174 192);
}

.hero__customer_logos{
    margin-top: 1rem;
    width: 100%;
    height: auto;
    opacity: 0.5;
    display: block;
}

/* FEATURES */

.features__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 96px 0;
    margin: 0 80px;
}

.features__title{
    font-weight: bolder;
}

.features__description{
    max-width: 36rem;
    margin-top: 16px;
    font-weight: 500;
}

.services__container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.vertical_spacer{
    margin-top: 40px;
}

.service__containers{
    width: 30%;
    display: flex;
    padding: 32px 8px;
    margin: 0 16px;
    align-items: flex-start;
}

.service__icons{      /*TODO: Icon not centered in the circle */
    border: 2px solid rgb(226, 232, 240);
    padding: 20px;
    border-radius: 100%;
}

.service__info{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 16px;
}

.service__title{
    font-size: 24px;
    color: #243E63;
    font-weight: bold;
}

.service__description{
    margin-top: 8px;
    font-size: 16px;
    color: rgb(124 139 161);
    font-weight: 500;
}

/*QUALITY WORK */

.quality__container{
    display: flex;
    justify-content:space-between;
}

.quality__info_container{
    display: flex;
    flex-direction: column;
}

.quality__img_container{
    max-width: 100%;
    height: auto;
}

.quality__img{
    height: auto;
}

.quality__button{
    margin-top: 32px;
}

.quality__description{
    margin-top: 8px;
    font-size: 16px;
    color: rgb(124 139 161);
    font-weight: 500;
}
